{% extends 'base.html' %}
{% load static %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">
            ×
            </button>
            <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <br></br>
    {% if user.is_authenticated %}

        <div>
            <p> You logged as </p>
            <h1>@{{ user.username }}</h1>
            <p>
                <a href="">Home</a>|
                <a href="">Profile</a>|
                <a href="">Settings</a>|
                <a href="{% url 'user_logout'%}">Logout</a>
            </p>
        </div>

    {% else %}
    <div class="container">

        <div class="background-wrap">
            <div class="background"></div>
        </div>

        <form method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}

            <h1 id="litheader">Login</h1>

            <div class="inset">

                <p><input type="text" name="username" placeholder="Username"></p>

                <p><input type="password" name="password"  placeholder="Password"></p>

                <div style="text-align: center;">
                    <div class="checkboxouter">
                    <input type="checkbox" name="rememberme" id="remember" value="Remember">
                    <label class="checkbox"></label>
                    </div>
                    <label for="remember">Remember me for 14 days</label>
                </div>

                
            </div>

            <p class="p-container">
                <input type="submit" name="Login" value="Login">
            </p>

            <div style="text-align: center;">
                <p>Don't have an account? <a href='{% url "user_register" %}'>Create one</a></p>
            </div>

        </form>
    </div>     

    {% endif %}


{% endblock content %}